setuptools<70
Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.6.0
django-filter==24.3
django-storages[boto3]==1.14.4
django-celery-beat==2.7.0
django-celery-results==2.5.1
celery[redis]==5.4.0
redis==5.2.1
gunicorn==23.0.0
uvicorn[standard]==0.34.0
psycopg2-binary==2.9.10
Pillow==11.1.0
razorpay==1.4.2
stripe==11.4.1
openai==1.59.7
anthropic==0.42.0
qdrant-client==1.12.1
PyPDF2==3.0.1
python-dotenv==1.0.1
boto3==1.36.2
whitenoise==6.8.2
